<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.kyleabrahams.mergeepg</string>

    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin:/Users/kyleabrahams/.nvm/versions/node/v20.18.0/bin</string>
    </dict>

    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-c</string>
        <string>
            source /Users/kyleabrahams/Documents/GitHub/tv/scripts/venv/bin/activate &amp;&amp; /Users/kyleabrahams/Documents/GitHub/tv/scripts/venv/bin/python3 /Users/kyleabrahams/Documents/GitHub/tv/scripts/merge_epg.py
        </string>
    </array>

    <key>WorkingDirectory</key>
    <string>/Users/kyleabrahams/Documents/GitHub/tv/scripts</string>

    <key>StartCalendarInterval</key>
    <array>
      <dict>
        <key>Hour</key>
        <integer>1</integer>  <!-- 1 AM -->
        <key>Minute</key>
        <integer>0</integer>
      </dict>
      <dict>
        <key>Hour</key>
        <integer>13</integer>  <!-- 6 PM -->
        <key>Minute</key>
        <integer>0</integer>
      </dict>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StandardErrorPath</key>
    <string>/tmp/merge_epg_error.log</string>
    
    <key>StandardOutPath</key>
    <string>/tmp/merge_epg_output.log</string>
  </dict>
</plist>
