name: Run merge_epg-test.py

on:
  workflow_dispatch:  # Allow manual triggering
  push:  # Trigger on push events
    branches:
      - main  # Adjust if you want other branches
  #schedule:
    #- cron: '0 6 * * *'  # 1 AM ET every day UTC +5
    #- cron: '0 18 * * *'  # 1 PM ET every day UTC +5

concurrency:
  group: "merge_epg"
  cancel-in-progress: true  # If another instance is running, cancel it

jobs:
  run_merge_epg_script:
    runs-on: ubuntu-latest

    steps:
    # Checkout the repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # Set up Python
    - name: Set up Python 3.8
      uses: actions/setup-python@v4
      with:
        python-version: '3.8'

    # Configure Git user
    - name: Configure Git user
      run: |
        git config --global user.email "kyleagbc@gmail.com"
        git config --global user.name "kyleabrahams"

    # Install dependencies from requirements.txt
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r scripts/requirements.txt
        npm install @freearhey/core

    # List the contents before and after the process
    - name: List files before script
      run: ls -R ./scripts/_epg-end || echo "No files in _epg-end yet"

    # Delete existing channels-test-end.xml
    - name: Remove existing channels-test-end.xml
      run: rm -f $GITHUB_WORKSPACE/scripts/_epg-end/channels-test-end.xml

    # Delete existing dummy--epg---end.xml
    - name: Remove old dummy EPG files
      run: rm -f $GITHUB_WORKSPACE/scripts/_epg-end/dummy--epg---end.xml

    # Delete existing epg-test.xml
    - name: Remove existing epg-test.xml
      run: |
        if [ -f $GITHUB_WORKSPACE/scripts/www/epg-test.xml ]; then
          rm -f $GITHUB_WORKSPACE/scripts/www/epg-test.xml
          echo "epg-test.xml removed"
        else
          echo "epg-test.xml not found"
        fi

    # Run merge_epg.py script
    - name: Run merge_epg-test.py script
      run: |
        # python scripts/merge_epg.py --channels ./scripts/_epg-start/channels-custom-start.xml --output ./scripts/_epg-end/channels-custom-end.xml
        # python scripts/merge_epg-test.py --channels ./scripts/_epg-start/channels-test-start.xml --output ./scripts/_epg-end/channels-test-end.xml
        python scripts/merge_epg-test.py

    
    # List files after running the script
    - name: List files after script
      run: |
        ls -R ./scripts/_epg-end
        ls -R ./scripts/www/*.xml || echo "No XML files found in ./scripts/www/"



    # Commit and push the changes to the repository
    - name: Commit and push generated files
      run: |
        git status
        if [ -n "$(git status --porcelain)" ]; then
          git add ./scripts/_epg-end/* ./scripts/www/merge_epg.log ./scripts/www/epg-test.xml
          git commit -m "Update generated EPG file and related changes"
          git push
        else
          echo "No changes to commit"
        fi

      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
